
*.xcworkspacedata
*.xcuserstate
*.xcuserstate
*.xcworkspacedata
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FindingPluto/FindingPluto.xcodeproj/xcuserdata/grasu.xcuserdatad/xcschemes/xcschememanagement.plist
FindingPluto/FindingPluto.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
FindingPluto/FindingPluto.xcodeproj/xcuserdata/grasu.xcuserdatad/xcschemes/xcschememanagement.plist
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/xcuserdata/grasu.xcuserdatad/UserInterfaceState.xcuserstate
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FindingPluto/FindingPluto.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FindingPluto/FindingPluto.xcworkspace/xcuserdata/grasu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
